---
name: Publish release
on:
  workflow_dispatch:
jobs:
  changelog:
    name: Generate changelog and tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ env.GITHUB_TOKEN }}
      - name: Generate changelog
        id: git-cliff-next-version
        uses: orhun/git-cliff-action@v4.6.0
        with:
          config: cliff.toml
          args: --verbose --bump
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}
      - name: Commit changelog
        run: |
          set +e
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          version=${{ steps.git-cliff-next-version.outputs.version }}
          git add CHANGELOG.md
          git commit -m "docs(CHANGELOG.md): release ${version} [skip ci]"
          git branch -m main
          git push origin HEAD
          git tag "$version"
          git push origin "$version"
  publish:
    name: Publish release
    runs-on: ubuntu-latest
    needs: changelog
    permissions:
      contents: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ env.GITHUB_TOKEN }}
      - name: Pull latest changes from main
        run: |
          git fetch origin main
          git checkout main
          git pull origin main
      - name: Generate a release note
        uses: orhun/git-cliff-action@v4.6.0
        id: git-cliff-release
        with:
          config: cliff.toml
          args: --latest --strip header
        env:
          OUTPUT: RELEASE.md
          GITHUB_REPO: ${{ github.repository }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2.4.2
        with:
          body_path: RELEASE.md
          tag_name: "${{ steps.git-cliff-release.outputs.version }}"
      - name: Clean up md files
        run: |
          set +e
          rm RELEASE.md
